@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"),
  }
@font-face {
    font-family: "Rockwell MT";
    font-style: normal;
    font-weight: 400;
    src: local("Rockwell MT");
}

*{
    margin: 0;
}

/*{ border:1px solid red; box-sizing:border-box; }*/
/*Подтверждение возраста*/
.popup__container{
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: fixed;
    background-color: rgb(106 101 101 / 50%);
}
.popup{
    height: 720px;
    width: 520px;
    background-image:  url(../img/fon2.png);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 40px auto 0px auto;
}
.popup__no{
    display: none;
    border-top: 2px solid white;
}
.popup__logo{
    width: 70%;
}
.popup__hello{
    color: white;
    font-family: "Montserrat";
    font-size: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}
.popup__hello_p{
    color: white;
    font-family: "Montserrat";
    font-size: 20px;
    margin-top: 10px;
}
.popup__text{
    color: white;
    font-family: "Montserrat";
    font-size: 15px;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid white;
}
.popup__btns{
   margin-top: 50px; 
    display: flex;
    justify-content: space-around;
}
.popup__btn{
   width: 180px;
   height: 30px;
   font-family: "Montserrat"; 
   font-weight: 500;
}


/*Основная страница*/
header{
    background-image: url(../img/fon.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.header__vk{
    text-align: center;
    padding-top: 40px;
}
.header__VK__name {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 32px;
    color: white;
    text-decoration: none;
}
.header__name {
    display: flex;
    flex-direction: row;
     align-items: center;
     margin-left: 140px;
}
.logo_text{
    height: 100%;
}
.header__list {
    margin: 0 auto;
}
.header__list li{
    display: flex;
    flex-direction:row;
    padding-bottom: 20px;
}
.header__list p{
    color: white;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 32px;
    padding-left: 15px;
}
nav{
    background: -webkit-linear-gradient(90deg, #030303,#312f30,#0a0a0a);/* Chrome 10-25, Safari 5.1-6 */   ;                     
    background: linear-gradient(90deg, #030303,#312f30,#0a0a0a);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
}
.header__nav{
    display: flex;
    flex-direction:row;
     justify-content: space-between;
  /* width: 70%;*/
    margin: 0 200px;
    padding: 10px 0;   
}
.img__container{
    display: block;
    width: 35px; 
    height: 38px;
}
.img__container img{
    max-width: 100%;
    max-height: 100%;
}
.double{
    display: none;
}
.header__nav__block{
    display: grid;
    grid-template-columns: 40px 300px 40px;
}
.header__nav a{
font-family: "Montserrat";
color: white;
text-transform: uppercase;
font-size: 32px;
font-weight: bold;
text-decoration: none;
text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}
.main{
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 514px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.kalyan{
    background-image: url(../img/kalyan2.jpg);
}
.tabak{
    background-image: url(../img/tabak1.jpg);

}
.veip{
    background-image: url(../img/veip.png);

}
.zhidkost{
    background-image: url(../img/zh.jpg);

}
main a{
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    text-transform: uppercase;
}

/*main a:hover{
    font-size: 45px;
    
}
.main:hover{
    opacity: 0.5;
}*/
footer{
    background-image: url(../img/fon2.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: "Montserrat";
}

.footer__name{
    display: flex;
    align-items: center;
}
.footer__contacts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    padding-left: 30px;
    text-decoration: none;
    color: white;
}
.footer__contacts img{
    width: 30px;
    height: 30px;
}    
.minzdrav{
    text-align: center;
    font-size: 20px;
    margin-top: 26px;
}
.minzdrav p{
    padding-bottom: 8px;
}
.footer__adress{
    margin-top: 15px;
    margin-bottom: 30px;
}
.footer__adress_name{
    font-size: 36px;
    font-weight: bold;
    border-bottom: 3px solid white;
    padding-top: 10px;
}
.footer__adress .time{
   font-size: 24px;
   font-weight: 400; 
}


@media(max-width: 1280px){
   .header__name{
        margin-left: 0px;
    }
    .header__nav{
        margin: 0px;
    }
    .header__nav__block{
        grid-template-columns: 40px 220px 40px;
    }
}
@media(max-width: 1024px){
   .header__list{
    padding-inline-start: 0px;
   }
   .logo{
    width: 250px;
   }
   .logo_text{
    width: 400px;
   }
    .header__nav__block {
    grid-template-columns: 40px 170px 40px;
    }
    .header__list p{
        font-size: 25px;
    }
    .footer__adress_name{
        font-size: 30px;
    }
}
@media(max-width: 768px) {
    .header__name{
        flex-direction: column;
        margin-left: 0px;
    }
    .logo_text{
        margin-bottom: 20px;
    }
    .header__nav{
        flex-direction: column;
    }
    .double{
        display: block;
    }
    .header__nav__block{
        grid-template-columns: 40px 320px 40px;
    }
    .header__nav__block{
        
        justify-content: center;
    }
    main{
        flex-direction: column;
    }
    .main{
        width: 100%;
    }
        footer{
        flex-direction: column;
    }
    .footer__info{
        border-bottom: 1px solid white;  
    }
    .footer__adress{
        text-align: center;
    }
}
@media(max-width: 480px){
    .header__nav{
        align-items: center;
    }
    .logo_text{
        width: 80%;
    }
  .footer__name{
        flex-direction: column;
    }
    .popup{
        width: 100%;
    }
    .footer__contacts{
        text-decoration: none;
        color: white;
    }
}
@media(max-width: 320px) {
    .header__list{
        padding-inline-start: 0px; 
    }
    .header__list p{
        font-size: 20px;
    }
    .footer__contacts{
        font-size: 20px;
    }
    .header__nav{
        margin: 0 100px;
    }
    .footer__adress_name{
        font-size: 30px;
    }
    .header__nav__block {
        grid-template-columns: 40px 200px 40px;
    }
    .popup__btns{
        flex-direction: column;
        align-items: center;
    }
    .popup__btn{
        margin-top: 10px;
    }
}  